<div>

    <button type="submit" class="btn btn-primary add"  ng-click="logout()" ng-show="loggedIn()">Logout</button>



<div ng-hide="loggedIn()">
    <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
        <i class="fa fa-google-plus"></i> Connect with Google+
    </a>
</div>


<div ng-show="loggedIn()">

<div class="inputBox">
    <span class="title">Add Shopping Item</span> 
    <div class="box"> 

        <form role="form" name="itemInfo" novalidate>

            <input type="text" class="form-control" ng-model="item.name" placeholder="Item Name" required>
        
            <input type="text" class="form-control" ng-model="item.amount" placeholder="Amount" required>
        
            <input type="text" class="form-control" ng-model="tags" placeholder="Tags">

            <button type="submit" class="btn btn-primary add"  ng-click="submit()" ng-disabled="!itemInfo.$valid">ADD</button>
            
        </form>

    </div>
</div>



<div class="resultsBox">

    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" ng-click="filterList()">Everything</button>
      <button type="button" class="btn btn-default" ng-click="filterList(false)">Stuff to Buy <span class="badge">{{unpurchased}}</span> </button>
    </div>

    <div class="input-group">
        <!-- <form ng-submit="tagMatching()"> -->
        <span class="input-group-addon"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></span>
        <input type="text" class="form-control" ng-model="query" placeholder="Search by tag">
        <!-- </form> -->
    </div>
    
    <div ng-repeat="item in list">
        <input class='check' type="checkbox" ng-model="item.purchased" ng-change="purchase($index)">    
        
        <div class='itemDetails'>
            {{item.name}}
       
            <span class="label label-success" ng-repeat="tag in item.tags">
                {{tag}}
            </span>

        </div>

        <div class="price">
            {{item.totalPrice}}
        </div>

    </div>

    <div ng-show="totalPrice()">
        Total Price: ${{totalPrice()}}
    </div>
</div>

